# Archivos y directorios generados por Flutter
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/build/
**/flutter_*.png
**/isolate_snapshot_data
**/isolate_snapshot_instr
**/package_config.json
**/test_driver/app.dart

# Archivos y directorios generados por Dart
**/.dart_tool/
**/.pub/
**/build/
**/doc/api/

# Archivos y directorios generados por Hive
**/hive_generated/

# Archivos y directorios generados por Android Studio, IntelliJ IDEA y Visual Studio Code
**/.idea/
**/.vscode/
**/*.iml
**/*.ipr
**/*.iws

# Archivos y directorios generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos y directorios generados por el usuario
**/assets/images/
**/lib/constants/api_keys.dart

*.env